<!-- PyScript CSS 및 JS 파일 불러오기 -->
<link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css">
<script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
    
<style>
    #loading { 
        outline: none; border: none; background: transparent 
    }

    .parents {
        display: flex;
        flex-direction: row;
    }

    .parents:has(#csv-text),
    .parents:has(#text1) {
        flex-direction: column;
    }

    .graph-container,
    #csv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text {
        font-weight: bold;
        text-align: center;
    }

</style>

<script type="module">
    const loading = document.getElementById('loading');
    addEventListener('py:ready', () => loading.close());
    loading.showModal();
</script>

<dialog id="loading">
    <h1>Loading...</h1>
</dialog>

<h2>NumPy</h2>

<div class="parents">
    <div class="text" id="text1"></div>
    <div class="text" id="text2"></div>
    <div class="text" id="ArrayOperations1"></div>
    <div class="text" id="ArrayOperations2"></div>
</div>


<hr>

<h2>Matplotlib</h2>
<div class="parents">
    <div class="graph-container">
        <div id="graph1"></div>
    </div>
    <div class="graph-container">
        <div id="graph2"></div>
    </div>
</div>


<hr>

<h2>Pandas</h2>
<div class="parents">
    <div class="text" id="csv-text"></div>
    <div id="csv"></div>
</div>



<!-- 설치할 패키지 -->
<py-config>
    {
        "packages": ["numpy", "pandas", "matplotlib"]
    }
</py-config>


<script type="py">
    from pyscript import display
    import matplotlib.pyplot as plt
    import numpy as np
    import pandas as pd

    # NumPy로 배열 생성
    array = np.array([1, 2, 3, 4, 5])
    targetArray = np.array([2, 8, 4, 10, 6])
    display(f"array 배열: {array}", target="text1")
    display(f"targetArray 배열: {targetArray}", target="text2")

    # 배열 연산
    display(f"array - targetArray 연산: {array - targetArray}", target="ArrayOperations1")
    display(f"targetArray - array 연산: {targetArray - array}", target="ArrayOperations2")

    # 첫 번째 그래프 그리기
    plt.figure()  # 새로운 Figure 생성
    plt.plot(array)
    plt.title("first graph: array")
    display(plt, target="graph1")

    # 두 번째 그래프 그리기
    plt.figure()  # 새로운 Figure 생성
    plt.plot(targetArray)
    plt.title("second graph: targetArray")
    display(plt, target="graph2")

    # Pandas로 데이터프레임 생성
    data = {'이름': ['Alice', 'Bob', 'Charlie'], '나이': [25, 30, 35]}
    df = pd.DataFrame(data)
    display("Pandas 데이터프레임:",  target="csv-text")
    display(df, target="csv")
</script>

