<!-- PyScript CSS 및 JS 파일 불러오기 -->
<link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css">
<script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
    
<style>
    #loading { 
        outline: none; border: none; background: transparent 
    }

    .parents {
        display: flex;
        flex-direction: row;
    }

    .parents:has(#csv-text),
    .parents:has(#text1) {
        flex-direction: column;
    }

    .graph-container,
    #csv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text {
        font-weight: bold;
        text-align: center;
    }

</style>

<script type="module">
    const loading = document.getElementById('loading');
    addEventListener('py:ready', () => loading.close());
    loading.showModal();
</script>

<dialog id="loading">
    <h1>Loading...</h1>
</dialog>

<h2>NumPy</h2>

<div class="parents">
    <div class="text" id="text1"></div>
    <div class="text" id="text2"></div>
    <div class="text" id="ArrayOperations1"></div>
    <div class="text" id="ArrayOperations2"></div>
</div>


<hr>

<h2>Matplotlib</h2>
<div class="parents">
    <div class="graph-container">
        <div id="graph1"></div>
    </div>
    <div class="graph-container">
        <div id="graph2"></div>
    </div>
</div>


<hr>

<h2>Pandas</h2>
<div class="parents">
    <div class="text" id="csv-text"></div>
    <div id="csv"></div>
</div>



<!-- 설치할 패키지 -->
<py-config>
    {
        "packages": ["numpy", "pandas", "matplotlib"]
    }
</py-config>


<script type="py" src="{{ '/assets/py/post28/demo.py' | relative_url }}"></script>

